#
# Copyright (c) <team name here>
#

mainmenu "Kionix Zephyr Driver Demo"

source "Kconfig.zephyr"

## 2021-11-15 MON
# 2021-11-15 - Unexpected need to add this stanza when today `west update` no longer pulls in kionix-drivers dependency:
#rsource "../kionix-drivers/Kconfig"
